.container-menu {
  width: 25%;
  height: 100%;
  background-color: var(--blue-dark);
  font-family: var(--roboto-regular);
  position: fixed;
}

h4 {
  font-family: var(--roboto-bold);
}
li {
  color: white;
  font-size: 18px;
}
li:hover {
  color: var(--aqua);
}
.container-menu button {
  background-color: transparent;
  border: none;
  color: white;
}
.container-menu button:hover {
  color: var(--aqua);
}
.container-menu ul {
  list-style-type: square;
}
