.container-table {
  width: 100%;
  height: 350px;
  margin-bottom: 25px;
  text-align: center;
  line-height: 1em;
  overflow-x: scroll;
  overflow-y: scroll;
  font-family: var(--roboto-regular);
  position: relative;
}
thead {
  background-color: lightgrey;
  border-color: white;
  position: sticky;
  top: 0;

}
.table-wrapper {
  position: relative;
}
tr {
  border-color: transparent;
}
th {
  text-transform: uppercase;
}
