.container-table {
  width: 85%;
  height: 400px;
  text-align: center;
  line-height: 1em;
  overflow-x: scroll;
  overflow-y: scroll;
  font-family: var(--roboto-regular);
  position: relative;
}
.table-head {
  background-color: lightgrey;
  border-color: white;
  position: sticky;
  top: 0;
}
.table-layout {
  position: relative;

}
tr {
  border-color: transparent;
}
th {
  text-transform: uppercase;
}
